In [1]:
import os, sys
%pwd

'd:\\End-to-End-Projects\\End-to-end-Anti-Money-Laundering-Transactions\\research'

In [2]:
os.chdir("../")
%pwd

'd:\\End-to-End-Projects\\End-to-end-Anti-Money-Laundering-Transactions'

In [6]:
data_path = "D:/End-to-End-Projects/End-to-end-Anti-Money-Laundering-Transactions/artifacts/data_ingestion/HI-small_Trans.csv"

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv(data_path)

In [8]:
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/08 23:03,70,100428A08,148586,8120D5550,13204.53,Saudi Riyal,13204.53,Saudi Riyal,Cash,0
1,2022/09/07 00:15,1132,80C50E4A0,28,80B7644F0,329.94,Mexican Peso,329.94,Mexican Peso,Credit Card,0
2,2022/09/05 18:41,70,1004288E8,32814,80C1FC0D0,54497.52,Mexican Peso,54497.52,Mexican Peso,Credit Card,0
3,2022/09/01 00:03,210,8000A4B20,226548,809D2E6E0,6370.84,Canadian Dollar,6370.84,Canadian Dollar,ACH,0
4,2022/09/05 16:19,21,803F9CB00,9679,804679BD0,21376.33,Yen,21376.33,Yen,Cheque,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Timestamp           50000 non-null  object
 1   From Bank           50000 non-null  int64
 2   Account             50000 non-null  object
 3   To Bank             50000 non-null  int64
 4   Account.1           50000 non-null  object
 5   Amount Received     50000 non-null  float64
 6   Receiving Currency  50000 non-null  object
 7   Amount Paid         50000 non-null  float64
 8   Payment Currency    50000 non-null  object
 9   Payment Format      50000 non-null  object
 10  Is Laundering       50000 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.2+ MB

In [10]:
df['Receiving Currency'].value_counts()

Receiving Currency
US Dollar            18395
Euro                 11583
Swiss Franc           2444
Yuan                  1977
Shekel                1923
UK Pound              1819
Rupee                 1804
Yen                   1578
Ruble                 1564
Bitcoin               1483
Australian Dollar     1401
Canadian Dollar       1342
Mexican Peso          1110
Saudi Riyal            860
Brazil Real            717
Name: count, dtype: int64